:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100dvh;
  --sb-track-color: #181818;
  --sb-thumb-color: #6baf8d;
  --sb-size: 8px;
}

@media (min-width: 769px) {
  .custom-scroll::-webkit-scrollbar {
    width: var(--sb-size);
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
  }

  @supports not selector(::-webkit-scrollbar) {
    .custom-scroll {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(10%);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-10%);
    opacity: 0;
  }
}

@keyframes scale-in-out {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
